_build
*.swp
*~
\#*#
.\#*
build
.buildconfig
.flatpak-builder

GPATH
GTAGS
GRTAGS

debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/libcmatrix-dev/
debian/libcmatrix-dev.debhelper.log
debian/libcmatrix-dev.substvars
debian/libcmatrix-doc/
debian/libcmatrix-doc.debhelper.log
debian/libcmatrix-doc.substvars
debian/tmp/

.meson-subproject-wrap-hash.txt